<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">
  <filter>
    <filter-name>filter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.yrek.rideapp.config.Configuration</listener-class>
  </listener>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/pages/error.jsp</location>
  </error-page>
</web-app>
