.hidden {
    display: none;
}

.widget {
    width: 240px;
    background-color: #ddf;
    float: right;
    font-size: small;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 2px;
    margin: 4px;
}

.fineprint {
    font-size: x-small;
}
