# Amazon Web Services
aws.accessKey=
aws.secretKey=
aws.s3.bucketName=
aws.s3.prefix=

# Facebook
facebook.clientID=
facebook.clientSecret=
facebook.canvasURL=

# Garmin Connect
garmin.garminUnlock=

# Google Maps
