# Amazon Web Services
aws.accessKey=
aws.secretKey=
aws.s3.bucketName=
aws.s3.prefix=
aws.ec2.memcachedSecurityGroup=

# Facebook
facebook.clientID=
facebook.clientSecret=
facebook.canvasURL=

# Garmin Connect
garmin.garminUnlock=

# Fixed memcached pool (comma separated list of hostnames)
memcached.pool=
memcached.port=11211

# Amazon EC2 memcached pool
memcached.ec2-pool.securityGroup=
memcached.ec2-pool.pollIntervalMinutes=

# Filesystem storage
storage.dir=/tmp/rideapp
